.container {
    display: flex;
    height: 100vh;
    align-items: center;
    position: relative;
}

.firstElement {
    flex: 5;
    width: 62.6rem;
    height: 55.6rem;
}
.secondElement {
    flex: 5;
    width: 62.6rem;
    height: 55.6rem;
    padding-left: 2rem;
    padding-right: 0;
    position: relative;
}
.logos {
    display: flex;
    width: 100%;
    transition: all 0.2s;
    animation: 2s fade-in 0.5s ease backwards, laugh 0.5s 1s ease infinite alternate both;
}

.header {
    font-family: Port Lligat Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16rem;
    margin-left: 2rem;
    color: rgb(51, 25, 25);
    position: absolute;
    top: 0px;
    animation: slide 1.5s ease;
    right: -4rem;
    width: 100%;
    transition: all ease 1s;
}
.header:hover {
    transform: translateY(-1rem);
    color: rgb(145, 45, 45);
}

.secondaryHeader {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin-top: 2rem;
    margin-bottom: 5rem;
    position: relative;
    top: 16rem;
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
.btn {
    opacity: 0;
    position: absolute;
    top: 35rem;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes slide {
    0% {
        right: -150rem;
    }

    100% {
        right: -4rem;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes laugh {
    0% {
        transform: rotateX(30deg);
    }
    100% {
        transform: rotateX(0);
    }
}
